#Rain {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.drop {
  background: linear-gradient(#ffffff00, #ffffff50);
  width: 1px;
  height: 89px;
  position: absolute;
  bottom: 200px;
  animation: falling 1.5s linear infinite;
}

@media (max-width: 600px) {
  #Rain {
    height: 105vh;
  }
}

@keyframes falling {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 1000px);
  }
}
